<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MiniCursoStarterProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E47817481FAFDA8B00FF4AE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E478175C1FAFDA8C00FF4AE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E47817671FAFDA8C00FF4AE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
